.progress {
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;

  display: flex;
  height: 15px;
  width: 100%;
  background-color: lightgray;
  padding: 0;
  margin: 0;
}
.progress-value {
  /* box-shadow: 0 10px 40px -10px #000; */
  border-radius: 100px;
  height: 15px;
  width: 100%;
  /* padding: 0 5px; */
  background-color: #700da8;
}
