.rc-slider .rc-slider-rail {
  background-color: white;
  height: 6px;
}
.rc-slider .rc-slider-track {
  background-color: #c837ab;
  height: 6px;
}
.rc-slider .rc-slider-handle {
  background-color: #c837ab;
  border-color: #c837ab;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.rc-slider-tooltip-inner {
  background-color: #c837ab;
}
.rc-slider-tooltip-content .rc-slider-tooltip-arrow {
  border-top-color: #c837ab;
}
