.mobile-nav {
  position: absolute;
  top: 110%;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 100;
}

.active {
  max-height: 1000px;
}

.bar i {
  transition: all 0.5s;
}
